<h1>adicioanr usuario</h1>
<form action="/users/create" method="post" class="form">
    <div class="form-control">
        <label for="name">nome:</label>
        <input type="text" name="name" placeholder="digite o nome do usuario">
    </div>
    <div class="form-control">
        <label for="occupation">occupation</label>
      <input type="text" name="occupation" placeholder="digite sua profissão">
    </div>
    <div class="form-control form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">enviar promoções?</label>
    </div>
    <div class="form-control">
        <input type="submit" value="cadastrar">
    </div>
</form>